* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: lato, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100vh;
    width: 100vw;
    background: url('../img/vegetables.jpg') center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainWrap {
    background: rgba(15, 15, 15, 0.6);
    width: 90%;
    height: 100vh;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20vh;
}
h1 {
    text-transform: uppercase;
    font-size: 5rem;
    color: #eee;
}

h2 {
    text-transform: uppercase;
    font-size: 4rem;
    color: #eee;
}

.binomeSection {
    width: 100%;
    padding: 2rem 5rem;
    border-radius: 8px;
    color: #eee;
    font-size: 2.5rem;
}

.binomeContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.binomeContainer .brand {
    display: flex;
    align-items: center;
    width: 45%;
}

.binomeContainer .brand__first,
.binomeContainer .brand__second {
    display: flex;
    align-items: center;
    width: 50%;
}

.binomeContainer .binome {
    display: flex;
    align-items: center;
    width: 55%;
}

.brandLogo {
    margin: 0rem 1rem;
    display: inline-block;
    height: 60px;
    width: 60px;
    border: 2px solid #eee;
    border-radius: 50%;
    background: url('') center no-repeat;
    background-size: 100%;
}
